body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.7rem; 

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


img{
  max-width: 100%;
}

/* ================================ header-section ========================================== */

.header-section{
  background: #fff;
  border-bottom: 1px solid #bfbfbf;
}

.main-header-sec{
  display: flex;
}
.header-logo{
  font-family: 'Damion', cursive;
  font-size: 2.5rem;
  color: #dd5555;
}

.header-right{
  margin-top: 18px;
}
.breadcrumb .breadcrumb-item a{
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: .5s;
}
.breadcrumb .breadcrumb-item a:hover{
  color: #dd5555;
}
.breadcrumb .active{
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: .5s;
}
.breadcrumb .active:hover{
  color: #dd5555;
}


.header-fontaswome span i{
  font-size: 16px;
  color: #cccccc;
  padding-left: 20px;
  cursor: pointer;
  transition: .6s;
}
.header-fontaswome span i:hover{
  color: #dd5555;
}

/* ===========================
nav-section
============================== */

.bashar-header {
  background-color: #e9e9e9;
}
.bashar-header .container{
  border-bottom: 1px solid #bfbfbf;
}


.first-form span i{
  font-size: 20px;
  color: #3f3f3f;
  margin-left: -40px;
  margin-top: 10px;
  cursor: pointer;
}

.bashar-menu {
  font-size: 14px;
}
 .nav-link{
  color: #3f3f3f !important;
  font-weight: 600;
  margin-right:0 ;
  transition:all .5s;
}
 .nav-link:hover{
  color: #dd5555 !important;
  padding-left: 10px;
}


.dropdown-menu{
  background-color: #f9f9f9;
}
.dropdown-menu .dropdown-item{
  transition:all .5s ease-in;
}
.dropdown-menu .dropdown-item:hover{
  background-color: #dd5555;
}


/* ================================ main-back-color ========================================== */
.add-section{
  padding: 40px 0;
}
.main-back-color{
  background: #e9e9e9;
}

/* ================================ main-section ========================================== */

.main-left-sec img{
  position:relative ;
  z-index: 0;
}
.main-left-sec .main-left-text{
  position:absolute ;
  margin-bottom:-100px ;
  margin-left: 35px;
  z-index: 999;
}

.main-left-sec .main-left-text h2{
  font-size: 1.8rem;
  color: #555555;
  font-weight: normal;
  margin-top: 15px;
}
.main-left-sec .main-left-text h5{
  font-size:13px;
  color: #848484;
}



.main-left-down-sec{
  border-bottom: 1px solid #bfbfbf;
}
.main-left-down-sec h4{
  color: #555555;
  font-size: 20px;
  font-weight: 700;
}
.main-left-down-sec p{
  color: #848484;
  font-size: 14px;
}

.format h6{
  color: #848484;
  font-size: 14px;
}
.format h6 strong{}

.download-love{
  margin-top: 25px;
  margin-bottom: 60px;

}
.download-love a{
  color: #fff;
  text-decoration: none;
  background-color: #4eb7cd;
  padding: 10px 15px;
  border-radius: 3px;
  transition: .6s;
}
.download-love a:hover{
  color: #ff0000;
  background-color: #111;
}
.download-love a i{
  margin-right: 10px;
}
.download-love .fa-hearte{
  color: #fff;
  text-decoration: none;
  background-color: #55c45f;
  padding: 10px 38px;
  border-radius: 3px;
  margin-left: 20px;
  transition: .6s;
}
.download-love .fa-hearte:hover{
  color: #ff0000;
  background-color: #111;
}
.download-love a span i{}


.pagination li .one{
  background-color: #e9e9e9;
  color: #555555;
  margin: 0 20px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}
.pagination li .two{
  background-color: #dd5555;
  color: #ffffff;
  margin: 0 20px;
  border-radius: 3px;
}
.pagination li i{}

.top-courses-img{
  margin-top: -12px;
}


.card-img-sec .card-body h4{
  color: #555555;
  font-size:24px ;
  font-weight: 700 ;
  margin-bottom: 35px;
}
.card-img-sec .card-body p{
  color: #848484;
  font-size:14px ;
  margin-top: 35px;
}
.card-img-sec .card-body .last-form{}
.card-img-sec .card-body .last-form span i{
  position: absolute;
  color: #cccccc;
  margin-left: 10px;
  margin-top: 8px;
  font-size: 35px;
  z-index: 999;
}
.card-img-sec .card-body .last-form .form-cont{
  position: relative;
  z-index: 0;
  font-size: 18px;
  width: 80%;
  height: 52px;
  color: #cccccc;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}
.card-img-sec .card-body .last-form .btn-danger{
  position: absolute;
  width: 112px;
  height: 52px;
  background-color: #dd5555;
  border-color: #dd5555;
  text-align: center;
  align-items: center;
  line-height: 35px;
  margin-left: -50px;
  z-index: 999;
}


.most-sec b{
  margin-left: 10px;
  color: #dd5555;
  font-size: 16px;
}
.most-sec strong{
  margin-left: 25px;
  color: #3f3f3f;
  font-size: 16px;
}



.down-pic-sec{
  margin-left: 20px;
}
.down-pic-sec .down-pic-item img{
  width: 90px !important;
  height: 65px !important;
}

.down-pic-sec .down-pic-text{
  margin-left: 20px;
  margin-top: 6px;
}
.down-pic-sec .down-pic-text h4{
  color: #3f3f3f;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  transition: all .5s;
}
.down-pic-sec .down-pic-text h4:hover{
  color: #dd5555;
}
.down-pic-sec .down-pic-text h6{
  color: #b0afae;
  font-size: 12px;
}

.most-sec{
  border-bottom: 1px solid #bfbfbf !important;
}

/* =========================== like-section ============================= */

.like-section .like-item h5{
  color: #555555;
  font-size:14px ;
  font-weight: 700;
}

/*  =============================== comment-section =================================== */

.like-think{
  font-size: 24px;
  color: #555555;
  font-weight: 700;
}

.border-top{
  border-top: 1px solid #bfbfbf !important;
}

.comment-sec .comment-form{
  margin-left: 20px;
  margin-top: 5px;
  width: 150px;
}

/* ================================ footer-section ========================================== */

.footer-section{
  background: #f9f9f9;
  border-top:1px solid #bfbfbf;
  border-bottom:1px solid #bfbfbf;
}

.footer-left-item h1{
  font-family: 'Damion', cursive;
  color: #555555;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
  transition: .6s;
}
.footer-left-item h1:hover{
  color: #dd5555;
  letter-spacing: 1.5px;
}
.footer-left-item p{
  color: #848484;
  font-size: 14px;
}

.footer-mid-item h4{
  color: #848484;
  font-size: 20px;
  font-weight: 500;
}
.footer-mid-item ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-mid-item ul li{
  display: block;
}
.footer-mid-item ul li a{
  font-size: 15px;
  color: #848484;
  text-decoration: none;
  display: block;
  line-height: 2rem;
  transition: all .6s ease-in;
}
.footer-mid-item ul li a:hover{
  color: #dd5555;
  letter-spacing: 1.5px;
}



.footer-mid-sec h4{
  color: #848484;
  font-size: 20px;
  font-weight: 500;
}

.footer-mid-sec a{
  font-size: 15px;
  color: #848484;
  text-decoration: none;
  display: block;
  line-height: 2rem;
  
  transition: all .6s ease-in;
}
.footer-mid-sec a:hover{
  color: #dd5555;
  letter-spacing: 1.5px;
}
.footer-mid-sec a span {
  margin-right: 20px;
}

/* ================================ copyright-section ========================================== */

.left-copyright p{
  color: #848484;
  font-size: 14px;
  margin-right: 10px;
}


.right-copyright p{
  color: #848484;
  font-size: 14px;
}
.right-copyright p span{
  color: #dd5555;
  font-weight: 700;
}

